@page "/attributes"

@using LTSaveEd.Models
@using LTSaveEd.Components

@inherits BaseSaveEditorPage

@inject NavigationManager NavigationManager
@inject ApplicationState ApplicationState

<h3>Attributes</h3>

<MudCard>
    <MudForm>
        <MudCardContent>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.HealthCore" Label="Health Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.EnergyShielding" Label="Energy Shielding" Max="500" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.ManaCore" Label="Mana Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PhysicalResistance" Label="Physical Resistance" Max="500" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Experience" Label="Experience" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.LustResistance" Label="Lust Resistance" Max="500" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.ActionPoints" Label="Action Points" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.FireResistance" Label="Fire Resistance" Max="500" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Arousal" Label="Arousal" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.IceResistance" Label="Ice Resistance" Max="500" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.LustCore" Label="Lust Core" Max="100"/>
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PoisonResistance" Label="Poison Resistance" Max="500" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.RestingLust" Label="Resting Lust" Max="100" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.UnarmedDamage" Label="Unarmed Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.PhysiqueCore" Label="Physique Core" Max="100" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.MeleeDamage" Label="Melee Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.ArcaneCore" Label="Arcane Core" Max="100" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.RangedDamage" Label="Ranged Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.CorruptionCore" Label="Corruption Core" Max="100" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.SpellDamage" Label="Spell Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.EnchantmentLimit" Label="Enchantment Limit" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PhysicalDamage" Label="Physical Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Fertility" Label="Fertility" Max="100" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.LustDamage" Label="Lust Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Virility" Label="Virility" Max="100" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.FireDamage" Label="Fire Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.SpellCostModifier" Label="Spell Cost Modifier" Max="80" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.IceDamage" Label="Ice Damage" Max="100" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.CriticalDamage" Label="Critical Damage" Max="500" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PoisonDamage" Label="Poison Damage" Max="100" />
            </MudPaper>
        </MudCardContent>
    </MudForm>
</MudCard>

@code {
    private Models.CharacterData.Attributes AttributesData => SaveData.CurrentCharacter.Attributes;
}