@page "/attributes"
@using LTSaveEd.Models
@inject NavigationManager NavigationManager
@inject SaveData SaveData
<h3>Attributes</h3>

<MudCard>
    <MudForm>
        <MudCardContent>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.HealthCore" Label="Health Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.EnergyShielding" Label="Energy Shielding" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.ManaCore" Label="Mana Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PhysicalResistance" Label="Physical Resistance" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Experience" Label="Experience" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.LustResistance" Label="Lust Resistance" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.ActionPoints" Label="Action Points" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.FireResistance" Label="Fire Resistance" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Arousal" Label="Arousal" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.IceResistance" Label="Ice Resistance" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.LustCore" Label="Lust Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PoisonResistance" Label="Poison Resistance" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.RestingLust" Label="Resting Lust" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.UnarmedDamage" Label="Unarmed Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.PhysiqueCore" Label="Physique Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.MeleeDamage" Label="Melee Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.ArcaneCore" Label="Arcane Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.RangedDamage" Label="Ranged Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.CorruptionCore" Label="Corruption Core" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.SpellDamage" Label="Spell Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.EnchantmentLimit" Label="Enchantment Limit" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PhysicalDamage" Label="Physical Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Fertility" Label="Fertility" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.LustDamage" Label="Lust Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.Virility" Label="Virility" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.FireDamage" Label="Fire Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.SpellCostModifier" Label="Spell Cost Modifier" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.IceDamage" Label="Ice Damage" />
            </MudPaper>
            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                <FloatField Attribute="@AttributesData.CriticalDamage" Label="Critical Damage" />
                <MudSpacer/>
                <FloatField Attribute="@AttributesData.PoisonDamage" Label="Poison Damage" />
            </MudPaper>
        </MudCardContent>
    </MudForm>
</MudCard>

@code {
    private LTSaveEd.Models.Attributes AttributesData => SaveData.CurrentCharacter.Attributes;

    protected override void OnInitialized()
    {
        if (!SaveData.Initialized)
        {
            NavigationManager.NavigateTo("/");
        }
    }

}