@page "/perks"
@using LTSaveEd.Models
@inject NavigationManager NavigationManager
@inject SaveData SaveData
<h3>Perks</h3>

<MudGrid>
    <MudItem xs="4"> @*Physical Branch*@
        <MudGrid>
            @*Row 1*@
            <MudItem xs="12">
                <PerkCheckbox Perk="@PerksData.NaturalFitness"/>
            </MudItem>
            
            @*Row 2*@
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.PhysicallyFit"/>
            </MudItem>
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.Observant"/>
            </MudItem>
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.StableEnchantmentsPhysical"/>
            </MudItem>
            
            @*Row 3*@
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.Defender"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.EnergyReserves"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.Striker"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.StableEnchantmentsPhysicalPlus"/>
            </MudItem>
            
            @*Row 4*@
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.DefenderPlus"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.EnergyReservesPlus"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.StrikerPlus"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.ArcaneSmith"/>
            </MudItem>
            
            @*Row 5*@
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.CardioKing"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.MartialArtist"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.CriticalPowerPhysical"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.HandToHand"/>
            </MudItem>
            
            @*Row 6*@
            <MudItem xs="6">
                <PerkCheckbox Perk="@PerksData.PhysicallyFitPlus"/>
            </MudItem>
            <MudItem xs="6">
                <PerkCheckbox Perk="@PerksData.Hypermobility"/>
            </MudItem>
            
            @*Row 7*@
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.StrikerPlusPlus"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.HandToHandPlus"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.AuraShielding"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.EnergyReservesPlusPlus"/>
            </MudItem>
            
            @*Row 8*@
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.StrikerPlusx3"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.MeleeWeaponsExpert"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.DefenderPlusPlus"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.EnergyReservesPlusx3"/>
            </MudItem>
            
            @*Row 9*@
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.StrikerPlusx4"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.SharpShooter"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.DefenderPlusx3"/>
            </MudItem>
            <MudItem xs="3">
                <PerkCheckbox Perk="@PerksData.EnergyReservesPlusx4"/>
            </MudItem>
            
            @*Row 10*@
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.FerociousWarrior"/>
            </MudItem>
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.Berserk"/>
            </MudItem>
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.CombatRegeneration"/>
            </MudItem>
            
            @*Row 11*@
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.MeleeWeaponsExpertPlus"/>
            </MudItem>
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.PhysicallyFitPlusPlus"/>
            </MudItem>
            <MudItem xs="4">
                <PerkCheckbox Perk="@PerksData.SharpShooterPlus"/>
            </MudItem>
            
            @*Row 12*@
            <MudItem xs="12">
                <PerkCheckbox Perk="@PerksData.ElementalStrikerPhysical"/>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="4"> @*Seductive Branch*@
        <MudGrid>
            @*Row 1*@
            <MudItem xs="12">
                <PerkCheckbox Perk="@PerksData.LewdKnowledge" />
            </MudItem>
            @*Row 2*@
            @*Row 3*@
            @*Row 4*@
            @*Row 5*@
            @*Row 6*@
            @*Row 7*@
            @*Row 8*@
            @*Row 9*@
            @*Row 10*@
            @*Row 11*@
            @*Row 12*@
        </MudGrid>
    </MudItem>
    <MudItem xs="4"> @*Arcane Branch*@
        <MudGrid>
            @*Row 1*@
            <MudItem xs="12">
                <PerkCheckbox Perk="@PerksData.NaturalArcanePower" />
            </MudItem>
            @*Row 2*@
            @*Row 3*@
            @*Row 4*@
            @*Row 5*@
            @*Row 6*@
            @*Row 7*@
            @*Row 8*@
            @*Row 9*@
            @*Row 10*@
            @*Row 11*@
            @*Row 12*@
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    private LTSaveEd.Models.Perks PerksData => SaveData.CurrentCharacter.Perks;
    
    protected override void OnInitialized()
    {
        if (!SaveData.Initialized)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}