@page "/perks"
@using LTSaveEd.Models
@using LTSaveEd.Models.CharacterData
@inject NavigationManager NavigationManager
@inject SaveData SaveData
<h3>Perks</h3>

<MudSimpleTable Style="overflow-x: auto;">
<tbody>
<tr>
    @*Row 1*@
    <td>
        <PerkCheckbox Perk="@PerksData.NaturalFitness"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.LewdKnowledge"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.NaturalArcanePower"/>
    </td>
</tr>
<tr>
    @*Row 2*@
    <td>
        <PerkCheckbox Perk="@PerksData.PhysicallyFit"/>
        <PerkCheckbox Perk="@PerksData.Observant"/>
        <PerkCheckbox Perk="@PerksData.StableEnchantmentsPhysical"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.Sterile"/>
        <PerkCheckbox Perk="@PerksData.Virile"/>
        <PerkCheckbox Perk="@PerksData.Seductive"/>
        <PerkCheckbox Perk="@PerksData.Fertile"/>
        <PerkCheckbox Perk="@PerksData.Barren"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.StableEnchantmentsArcane"/>
        <PerkCheckbox Perk="@PerksData.ArcanePrecision"/>
        <PerkCheckbox Perk="@PerksData.ArcaneTraining"/>
    </td>
</tr>
<tr>
    @*Row 3*@
    <td>
        <PerkCheckbox Perk="@PerksData.Defender"/>
        <PerkCheckbox Perk="@PerksData.EnergyReserves"/>
        <PerkCheckbox Perk="@PerksData.Striker"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.VirilePlus"/>
        <PerkCheckbox Perk="@PerksData.SeductivePlus"/>
        <PerkCheckbox Perk="@PerksData.OrgasmicLevelDrain"/>
        <PerkCheckbox Perk="@PerksData.Resistance"/>
        <PerkCheckbox Perk="@PerksData.FertilePlus"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.StableEnchantmentsArcanePlus"/>
        <PerkCheckbox Perk="@PerksData.SpellPower"/>
        <PerkCheckbox Perk="@PerksData.AuraReserves"/>
        <PerkCheckbox Perk="@PerksData.SpellEfficiency"/>
    </td>
</tr>
<tr>
    @*Row 4*@
    <td>
        <PerkCheckbox Perk="@PerksData.DefenderPlus"/>
        <PerkCheckbox Perk="@PerksData.EnergyReservesPlus"/>
        <PerkCheckbox Perk="@PerksData.StrikerPlus"/>
        <PerkCheckbox Perk="@PerksData.ArcaneSmith"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.Seeder"/>
        <PerkCheckbox Perk="@PerksData.SeductivePlusPlus"/>
        <PerkCheckbox Perk="@PerksData.Ahegao"/>
        <PerkCheckbox Perk="@PerksData.ResistancePlus"/>
        <PerkCheckbox Perk="@PerksData.Broodmother"/>

    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.ArcaneWeaver"/>
        <PerkCheckbox Perk="@PerksData.SpellPowerPlus"/>
        <PerkCheckbox Perk="@PerksData.AuraReservesPlus"/>
        <PerkCheckbox Perk="@PerksData.SpellEfficiencyPlus"/>
    </td>
</tr>
<tr>
    @*Row 5*@
    <td>
        <PerkCheckbox Perk="@PerksData.CardioKing"/>
        <PerkCheckbox Perk="@PerksData.MartialArtist"/>
        <PerkCheckbox Perk="@PerksData.CriticalPowerPhysical"/>
        <PerkCheckbox Perk="@PerksData.HandToHand"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.VirilePlusPlus"/>
        <PerkCheckbox Perk="@PerksData.VirilePlusx3"/>
        <PerkCheckbox Perk="@PerksData.CriticalPowerLust"/>
        <PerkCheckbox Perk="@PerksData.FertilePlusx3"/>
        <PerkCheckbox Perk="@PerksData.FertilePlusPlus"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.ElementalStriker"/>
        <PerkCheckbox Perk="@PerksData.CriticalPowerArcane"/>
        <PerkCheckbox Perk="@PerksData.Chuuni"/>
        <PerkCheckbox Perk="@PerksData.ArcaneCombatant"/>
    </td>
</tr>
<tr>
    @*Row 6*@
    <td>
        <PerkCheckbox Perk="@PerksData.PhysicallyFitPlus"/>
        <PerkCheckbox Perk="@PerksData.Hypermobility"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.Minx"/>
        <PerkCheckbox Perk="@PerksData.SeductivePlusx3"/>
        <PerkCheckbox Perk="@PerksData.Ladykiller"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.ArcaneAffinity"/>
    </td>
</tr>
<tr>
    @*Row 7*@
    <td>
        <PerkCheckbox Perk="@PerksData.StrikerPlusPlus"/>
        <PerkCheckbox Perk="@PerksData.HandToHandPlus"/>
        <PerkCheckbox Perk="@PerksData.AuraShielding"/>
        <PerkCheckbox Perk="@PerksData.EnergyReservesPlusPlus"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.SeductiveLeftBranch"/>
        <PerkCheckbox Perk="@PerksData.SeductiveMiddleBranch"/>
        <PerkCheckbox Perk="@PerksData.ResistancePlusPlus"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.AuraReservesPlusPlus"/>
        <PerkCheckbox Perk="@PerksData.SpellEfficiencyPlusPlus"/>
        <PerkCheckbox Perk="@PerksData.SpellPowerPlusPlus"/>
    </td>
</tr>
<tr>
    @*Row 8*@
    <td>
        <PerkCheckbox Perk="@PerksData.StrikerPlusx3"/>
        <PerkCheckbox Perk="@PerksData.MeleeWeaponsExpert"/>
        <PerkCheckbox Perk="@PerksData.DefenderPlusPlus"/>
        <PerkCheckbox Perk="@PerksData.EnergyReservesPlusx3"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.SeductivePlusLeftBranch"/>
        <PerkCheckbox Perk="@PerksData.IrresistibleAppeals"/>
        <PerkCheckbox Perk="@PerksData.SeductivePlusMiddleBranch"/>
        <PerkCheckbox Perk="@PerksData.ObjectOfDesire"/>
        <PerkCheckbox Perk="@PerksData.ResistancePlusx3"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.AuraReservesPlusx3"/>
        <PerkCheckbox Perk="@PerksData.SpellEfficiencyPlusx3"/>
        <PerkCheckbox Perk="@PerksData.SpellPowerPlusx3"/>
    </td>
</tr>
<tr>
    @*Row 9*@
    <td>
        <PerkCheckbox Perk="@PerksData.StrikerPlusx4"/>
        <PerkCheckbox Perk="@PerksData.SharpShooter"/>
        <PerkCheckbox Perk="@PerksData.DefenderPlusx3"/>
        <PerkCheckbox Perk="@PerksData.EnergyReservesPlusx4"/>

    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.SeductivePlusPlusLeftBranch"/>
        <PerkCheckbox Perk="@PerksData.SeductivePlusPlusMiddleBranch"/>
        <PerkCheckbox Perk="@PerksData.ResistancePlusx4"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.AuraReservesPlusx4"/>
        <PerkCheckbox Perk="@PerksData.SpellEfficiencyPlusx4"/>
        <PerkCheckbox Perk="@PerksData.SpellMastery"/>
    </td>
</tr>
<tr>
    @*Row 10*@
    <td>
        <PerkCheckbox Perk="@PerksData.FerociousWarrior"/>
        <PerkCheckbox Perk="@PerksData.Berserk"/>
        <PerkCheckbox Perk="@PerksData.CombatRegeneration"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.Lustpyre"/>
        <PerkCheckbox Perk="@PerksData.Nymphomaniac"/>
        <PerkCheckbox Perk="@PerksData.PureThoughts"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.SacrificialShielding"/>
        <PerkCheckbox Perk="@PerksData.SpellEfficiencyPlusx5"/>
        <PerkCheckbox Perk="@PerksData.ArcaneVampyrism"/>
    </td>
</tr>
<tr>
    @*Row 11*@
    <td>
        <PerkCheckbox Perk="@PerksData.MeleeWeaponsExpertPlus"/>
        <PerkCheckbox Perk="@PerksData.PhysicallyFitPlusPlus"/>
        <PerkCheckbox Perk="@PerksData.SharpShooterPlus"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.SeductivePlusx4"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.ElementalDefender"/>
        <PerkCheckbox Perk="@PerksData.ArcaneAffinityPlus"/>
        <PerkCheckbox Perk="@PerksData.ElementalStrikerPlus"/>
    </td>
</tr>
<tr>
    @*Row 12*@
    <td>
        <PerkCheckbox Perk="@PerksData.ElementalStrikerPhysical"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.ElementalStrikerSeductive"/>
    </td>
    <td>
        <PerkCheckbox Perk="@PerksData.ElementalStrikerArcane"/>
    </td>
</tr>
</tbody>
</MudSimpleTable>

@code {
    private Models.CharacterData.Perks PerksData => SaveData.CurrentCharacter.Perks;

    protected override void OnInitialized()
    {
        if (!SaveData.Initialized)
        {
            NavigationManager.NavigateTo("/");
        }

        PerkNode.OnActivenessChanged += StateHasChanged;
    }

}