@page "/body/penis"
             
@using LTSaveEd.Models
@using LTSaveEd.Models.CharacterData.BodyData.PenisData
@using LTSaveEd.Components

@inherits BaseSaveEditorPage

@inject ApplicationState ApplicationState

<h3>Penis</h3>

<MudCard>
    <MudForm>
        <MudCardContent>
            <MudSimpleTable Elevation="0">
                <tbody>
                    <tr>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Penis</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@PenisData.PenisComponent.Capacity" Label="Capacity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.PenisComponent.Depth" Label="Depth"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.PenisComponent.Elasticity" Label="Elasticity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.PenisComponent.Girth" Label="Girth"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.PenisComponent.Plasticity" Label="Plasticity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.PenisComponent.Size" Label="Size"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@PenisData.PenisComponent.StretchedCapacity" Label="Stretched Capacity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <ValueDisplayPairSelect Values="@PenisData.PenisComponent.PenisTypes"
                                                        Attribute="@PenisData.PenisComponent.Type" Label="Type"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Pierced.Value"
                                             Label="Pierced" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.UrethraVirgin.Value"
                                             Label="Urethra Virgin" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Virgin.Value"
                                             Label="Virgin" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Testicles</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.Testicles.CumExpulsion" Label="Cum Expulsion"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.Testicles.CumRegeneration" Label="Cum Regeneration"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.Testicles.CumStorage" Label="Cum Storage"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.Testicles.NumberOfTesticles" Label="Number of Testicles"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@PenisData.Testicles.StoredCum" Label="Stored Cum"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@PenisData.Testicles.TesticleSize" Label="Testicle Size"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.Testicles.Internal.Value"
                                             Label="Internal" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Cum</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <ValueDisplayPairSelect Values="@Cum.CumFlavours"
                                                        Attribute="@PenisData.Cum.Flavour" Label="Flavour"/>
                            </MudPaper>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Penis Modifiers</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Sheathed.Exists"
                                             Label="Sheathed" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Ribbed.Exists"
                                             Label="Ribbed" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Tentacled.Exists"
                                             Label="Tentacled" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Knotted.Exists"
                                             Label="Knotted" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Blunt.Exists"
                                             Label="Blunt" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.IsTapered"
                                             Label="Tapered" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.IsFlared"
                                             Label="Flared" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Barbed.Exists"
                                             Label="Barbed" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Veiny.Exists"
                                             Label="Veiny" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Prehensile.Exists"
                                             Label="Prehensile" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Ovipositor.Exists"
                                             Label="Ovipositor" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Urethra Modifiers</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.Puffy.Exists"
                                             Label="Puffy" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.InternallyRibbed.Exists"
                                             Label="Internally-ribbed" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.UrethraTentacled.Exists"
                                             Label="Tentacled" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.PenisComponent.InternallyMuscled.Exists"
                                             Label="Internally-muscled" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Cum Modifiers</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.Cum.Musky.Exists"
                                             Label="Musky" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.Cum.Viscous.Exists"
                                             Label="Viscous" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.Cum.Sticky.Exists"
                                             Label="Sticky" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.Cum.Slimy.Exists"
                                             Label="Slimy" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.Cum.Bubbling.Exists"
                                             Label="Bubbling" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.Cum.MineralOil.Exists"
                                             Label="Mineral Oil" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@PenisData.Cum.Alcoholic.Exists"
                                             Label="Alcoholic" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.Cum.Addictive.Exists"
                                             Label="Addictive" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@PenisData.Cum.Psychoactive.Exists"
                                             Label="Psychoactive" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudCardContent>
    </MudForm>
</MudCard>

@code {
    private Models.CharacterData.BodyData.Penis PenisData => SaveData.CurrentCharacter.Body.Penis;
}