@page "/body/vagina"
             
@using LTSaveEd.Models
@using LTSaveEd.Models.CharacterData.BodyData.VaginaData
@using LTSaveEd.Components

@inherits BasePage

@inject SaveData SaveData

<h3>Vagina</h3>

<MudCard>
    <MudForm>
        <MudCardContent>
            <MudSimpleTable Elevation="0">
                <tbody>
                    <tr>
                        <td rowspan="5" style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Vagina</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@VaginaData.VaginaComponent.Capacity" Label="Capacity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.ClitGirth" Label="Clit Girth"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.ClitSize" Label="Clit Size"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.Depth" Label="Depth"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.Elasticity" Label="Elasticity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.LabiaSize" Label="Labia Size"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.Plasticity" Label="Plasticity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@VaginaData.VaginaComponent.StretchedCapacity" Label="Stretched Capacity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@VaginaData.VaginaComponent.UrethraCapacity" Label="Urethra Capacity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.UrethraDepth" Label="Urethra Depth"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.UrethraElasticity" Label="Urethra Elasticity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.UrethraPlasticity" Label="Urethra Plasticity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <FloatField Attribute="@VaginaData.VaginaComponent.UrethraStretchedCapacity" Label="Urethra Stretched Capacity"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <IntField Attribute="@VaginaData.VaginaComponent.Wetness" Label="Wetness"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <ValueDisplayPairSelect Values="@VaginaData.VaginaComponent.VaginaTypes"
                                                        Attribute="@VaginaData.VaginaComponent.Type" Label="Type"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.EggLayer.Value"
                                             Label="EggLayer" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Hymen.Value"
                                             Label="Hymen" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Pierced.Value"
                                             Label="Pierced" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Squirter.Value"
                                             Label="Squirter" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.UrethraVirgin.Value"
                                             Label="Urethra Virgin" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Virgin.Value"
                                             Label="Virgin" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                        <td style="border-bottom: none; vertical-align: top;">
                            <h4 style="text-decoration: underline; text-align: center"><b>Clitoris Modifiers</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Sheathed.Exists"
                                             Label="Sheathed" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Ribbed.Exists"
                                             Label="Ribbed" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Tentacled.Exists"
                                             Label="Tentacled" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Knotted.Exists"
                                             Label="Knotted" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Blunt.Exists"
                                             Label="Blunt" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.IsTapered"
                                             Label="Tapered" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.IsFlared"
                                             Label="Flared" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Barbed.Exists"
                                             Label="Barbed" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Veiny.Exists"
                                             Label="Veiny" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Prehensile.Exists"
                                             Label="Prehensile" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Ovipositor.Exists"
                                             Label="Ovipositor" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                        </td>
                    </tr>
                <tr>
                    <td style="border-bottom: none; vertical-align: top;">
                        <h4 style="text-decoration: underline; text-align: center"><b>Girlcum Modifiers</b></h4>
                        <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Musky.Exists"
                                         Label="Musky" LabelPlacement="Placement.Start"/>
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Viscous.Exists"
                                         Label="Viscous" LabelPlacement="Placement.Start"/>
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Sticky.Exists"
                                         Label="Sticky" LabelPlacement="Placement.Start"/>
                        </MudPaper>
                        <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Slimy.Exists"
                                         Label="Slimy" LabelPlacement="Placement.Start"/>
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Bubbling.Exists"
                                         Label="Bubbling" LabelPlacement="Placement.Start"/>
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.MineralOil.Exists"
                                         Label="Mineral Oil" LabelPlacement="Placement.Start"/>
                        </MudPaper>
                        <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Alcoholic.Exists"
                                         Label="Alcoholic" LabelPlacement="Placement.Start"/>
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Addictive.Exists"
                                         Label="Addictive" LabelPlacement="Placement.Start"/>
                            <MudCheckBox @bind-Value="@VaginaData.GirlCum.Psychoactive.Exists"
                                         Label="Psychoactive" LabelPlacement="Placement.Start"/>
                        </MudPaper>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: none; vertical-align: top;">
                        <h4 style="text-decoration: underline; text-align: center"><b>Urethra Modifiers</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.UrethraPuffy.Exists"
                                             Label="Puffy" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.UrethraInternallyRibbed.Exists"
                                             Label="Internally-ribbed" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.UrethraTentacled.Exists"
                                             Label="Tentacled" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.UrethraInternallyMuscled.Exists"
                                             Label="Internally-muscled" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: none; vertical-align: top;">
                        <h4 style="text-decoration: underline; text-align: center"><b>Vagina Modifiers</b></h4>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Puffy.Exists"
                                             Label="Puffy" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.InternallyRibbed.Exists"
                                             Label="Internally-ribbed" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                            <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.Tentacled.Exists"
                                             Label="Tentacled" LabelPlacement="Placement.Start"/>
                                <MudCheckBox @bind-Value="@VaginaData.VaginaComponent.InternallyMuscled.Exists"
                                             Label="Internally-muscled" LabelPlacement="Placement.Start"/>
                            </MudPaper>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: none; vertical-align: top;">
                        <h4 style="text-decoration: underline; text-align: center"><b>Girlcum</b></h4>
                        <MudPaper Class="d-flex mr-10 pa-4" Elevation="0">
                                <ValueDisplayPairSelect Values="@GirlCum.GirlCumFlavours"
                                                        Attribute="@VaginaData.GirlCum.Flavour" Label="Flavour"/>
                        </MudPaper>
                    </td>
                </tr>
                </tbody>
            </MudSimpleTable>
        </MudCardContent>
    </MudForm>
</MudCard>

@code {
    private Models.CharacterData.BodyData.Vagina VaginaData => SaveData.CurrentCharacter.Body.Vagina;
}